:root {
  --primary: rgba(30, 30, 30, 1);
  --secondary: rgba(118, 118, 118, 1);
  --third: rgba(253, 253, 253, 1);
  --background: rgba(251, 252, 252, 1);
  --custom-border: rgba(0, 0, 0, 1);
  --letter-spacing-tight: 0.02em;
}

@font-face {
  font-family: "syne-medium";
  src: url("../fonts/Syne-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "syne-semibold";
  src: url("../fonts/Syne-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "syne-bold";
  src: url("../fonts/Syne-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "syne-extrabold";
  src: url("../fonts/Syne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  font-family: "syne", sans-serif;
  background-color: rgba(239, 239, 239, 1);
  padding: 20px;
  overflow-x: hidden !important;
}

.border-custom {
  border: 1px solid rgba(0, 0, 0, 1);
}
.ourservice-background {
  background-image: url("../images/our-service-bg.png");
  background-color: rgba(0, 0, 0, 0.9); /* black with 70% opacity */
  background-size: cover;

}

.gradient-text {
  background: linear-gradient(90deg, #FFFFFF 0%, #303030 117.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  font-size: 16px;
  font-family: 'syne-medium';
  color: var(--primary);
  cursor: pointer;
  line-height: 100%;
}

.nav-btn {
  font-size: 16px;
  padding: 13px 24px;
  border-radius: 28px;
  border: 1px solid var(--custom-border);
  color: var(--primary);
  font-family: 'syne-medium';
  line-height: 100%;
  background: transparent;
  tracking: 0.02em;
}



@media (min-width: 1024px) and (max-width: 1200px) {
.nav-custom-gap{
  gap: 15px  !important;
}
.nav-custom-text{
  font-size: 14px  !important;
}
.custom-padding {
  padding: 15px !important;
}

.nav-button-gap{
  gap: 10px  !important;
  
}
.nav-buttom-padding {
  padding: 10px 10px !important;
  font-size: 12px  !important;
}
.nav-logo{
width: 130px !important;
}
.landing-right-text {
  font-size:18px !important;
}
.landing-top-star{
  height: 60px !important;
  width: 60px !important;
}

.landing-bottom-star{
  height: 35px !important;
  width: 35px !important;
  margin-left: 40px !important;
}

.landing-main-text{
  font-size: 65px !important;
  line-height: 75px !important;
}
.landing-page-description{
  font-size: 18px !important;
  line-height: 24px !important ;
}

}

